@media (max-width: 1200px) {
    .container {
        max-width: 850px; 
        }
    .promo {
        background-size: 1200px 750px;
        background-position: left 10%;
        padding: 20px 0 90px 0;
        &__wrapper {
            margin-top: 90px;
        }
        &__header {
            font-size: 40px;
            line-height: 40px;
        }
        &__subheader {
            font-size: 23px;
            line-height: 23px;
        }
    }

    .header {
        &__logo {
            width: 230px;
        }
        &__contacts {
            align-items: center;
        }  
        &__phone {
            font-size: 16px;
        }

    }
    .advantages {
        padding: 70px 0 75px 0;
        &__wrapper {
            width: 100%;
        }
    }
}

@media (max-width: 991px) {
    .container {
        max-width: 668px;
    }
    .promo {
        background-size: 1200px 650px;
        background-position: left 10%;
        padding: 20px 0 50px 0;
        &__header {
            font-size: 34px;
            line-height: 34px;
        }
        &__subheader {
            font-size: 19px;
            line-height: 19px;
        }
        &__icons {
            width: 370px;
        }  
    }
    .header {
        &__logo {
            width: 200px;
        }
        &__phone {
            font-size: 12px;
        }
    }
    .button {
        width: 137px;
        height: 23px;
        &_main {
            width: 280px;
            height: 50px;
        }
    }
    .advantages {
        &__wrapper {
            margin-top: 50px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__icon {
            width: 320px;
            margin-bottom: 30px;
        }
        &__content {
            br {
                display: none;
            }
        }
    }
}

@media (max-width: 767px) {
    .promo {
        padding: 20px 5px 50px 5px;
        background-size: 1200px 650px;
        background-position: left 10%;
        
        &__wrapper {
            margin-top: 55px;
            align-items: center;
        }
    } 
    .header {
        justify-content: space-around;
        &__logo {
            width: 230px;
            margin-left: 40px;
        }
        &__official {
           display: none;
        }
        &__contacts {
            margin-right: 40px;
        }
        &__phone {
            font-size: 16px;
        }
    }
    .button {
        width: 150px;
        height: 30px;
        &_main {
            width: 280px;
            height: 50px;
        }
    }   
}
    

