.carousel {
    display: flex;
    justify-content: center;
    padding: 81px 0;
    &__inner {
        position: relative;
        width: 750px;
        margin: 0 auto;
        
    }
    .prev, .next {
        position: absolute;
        top: 38%;
        transform: translateY(-50%);
        left: -66px;
        border: none;
        background-color: $white-color;
        img {
            width: 31px;
            height: 50px;
        }
    }
    .next {
        right: -66px;
        left: auto;
    }

    .tns-item { /* имя блока tiny слайдера */
        img {
            display: block;
            margin: 0 auto;
        }
    }
    .tns-nav { /* стили для точек в tinyslider */
        width: 48px;
        display: block;
        margin: 0 auto;
        button {
            width: 16px;
            height: 12px;
            border-radius: 10px;
            background-color: $main-color;
            border: none;
        }
        .tns-nav-active {
            background-color: black;
        }
    }
}